@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

/* https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  overflow: hidden;
}

@theme {
  --color-primary: #c4dfdf;
  --color-secondary: #d2e9e9;
  --color-tertiary: #e3f4f4;
  --color-quaterniary: #f8f6f4;
  --color-dark: #374259;
  --color-link: #0000ee;
}

* {
  font-family: "Jersey 15", sans-serif;
}

@keyframes blob {
  from {
    transform: rotate(0.3deg) scale(1);
  }
  to {
    transform: rotate(-0.3deg) scale(0.99);
  }
}

@keyframes character {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  49% {
  }
  50% {
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-character {
  from {
    transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%)
      translateY(-45%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%)
      translateY(-45%) scale(1);
    opacity: 1;
  }
}

@keyframes arrow {
  from {
    transform: translateY(33%) translateX(-50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(50%) translateX(-50%) scale(0.9);
    opacity: 1;
  }
}
