@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

/* https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  overflow: hidden;
}

@theme {
  --color-secondary: #dfe9f5;
}

* {
  font-family: "Funnel Sans", sans-serif;
  font-size: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes blob {
  from {
    transform: rotate(0.3deg) scale(1);
  }
  to {
    transform: rotate(-0.3deg) scale(0.99);
  }
}

@keyframes character {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  49% {
  }
  50% {
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-character {
  from {
    transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%)
      translateY(-45%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%)
      translateY(-45%) scale(1);
    opacity: 1;
  }
}

@keyframes arrow {
  from {
    transform: translateY(33%) translateX(-50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(50%) translateX(-50%) scale(0.9);
    opacity: 1;
  }
}
